[BASE]
eval_on_dev = True

[MODEL]
model_name = deepset/gbert-large
model_abbr = GBERTL 
model_dir = /ceph/inrehbei/proj/HisPos/tagger/models

[DATA]
data_dir = /ceph/inrehbei/proj/HisPos/tagger/data/ridges_train
result_dir = /ceph/inrehbei/proj/HisPos/tagger/results

[PARAM]
seed = 42
epochs = 6
lr = 6.3532517347881085e-05
batch_size = 16



